.ui-menubar-link > .ui-button-text
{
	font-size: 12pt;
	padding: 0.2em 0.5em;
}

#menubar .ui-menu-item, .ui-menu .ui-menu-item
{
	font-size: 10pt;
}
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close
{
	display: none;
}
.ui-jqgrid-title
{
	font-size: 10pt;
}
